div{
    border: 1px solid orange;
    margin-bottom: 10px;
}

.titleYellow{
    color: yellow;
    font-size: 20px;
}
.small{
    font-size: 10px;
}
#mainTitle{
    color: blue;
    font-size: 25px;
}

div p{
    background-color: aqua;
}

.sectionMain .textContent p,
.titleYellow.small{
    border: 1px solid black;
    border-color: #eee;
    margin: 10px;
}